<!-- views/foods/new.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Add New Pantry Item</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Item</h1>

    <form action="/users/<%= userId %>/foods" method="POST">
      <label for="foods">Item Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="expiration">Expiration Date?</label>
      <input type="date" id="expiration" name="expiration" />

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" required />

      <button type="submit">Add Item</button>
    </form>

    <p><a href="/users/<%= userId %>/foods">Back to Pantry</a></p>
  </body>
</html>
